* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: blanchedalmond;
}

#navbar, #footer {
    width: 100%;
    height: 10rem;
    background-color: #9E2A4C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
#footer {
    margin-top: 10rem;
}
#navbar ul, #footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: blanchedalmond;
    text-shadow: #474747 3px 5px 2px;
    font-size: 4rem;
}
#footer ul {
    font-size: 2rem;
}
li i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: blanchedalmond;
}

#formContainer, #SubFormContainer, #DelFormContainer {
    width: 60%;
    height: 50vh;
    margin-left: 20%;
    margin-top: 10rem;
    border: 2px solid #9E2A4C;
    border-radius: 7px;
    box-shadow: 0 0 18px 1px rgb(158 42 76 / 98%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#DelFormContainer {
    margin-top: 4rem;
    height: 30vh;
}

#formConnect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#formSub {
    width: 70%;
}

.inputBlock {
    font-size: 4rem;
    margin-bottom: 2rem;
    width: 100%;
}

.inputBlock input {
    padding-left: 1.5rem;
    font-size: 2.5rem;
}
#inputUsername, #inputUserPass, #inputUserMail {
    border: 2px solid #9E2A4C;
    border-radius: 16px;
    padding-left: 1.5rem;
    width: 100%;
}
#buttonConnect, #buttonConfirm {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 1rem;
    border: 1px solid #9E2A4C;
    border-radius: 16px;
    background-color: #9E2A4C;
    color: blanchedalmond;
}

#buttonSend {
    font-size: 3rem;
}

#subscriptionDiv {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#subscriptionDiv a {
    text-decoration: blue;
    color: blue;
    font-size: 1rem;
}

#liAccount #subMenu, #liAccount #subMenu a {
    display: inline-block;
}

#liAccount #subMenu a {
    margin-left: 1rem;
    font-size: 1.5rem;
}

#profileContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
}

#profileSettings {
    width: 20%;
}

#profileContent {
    width: 80%;
    overflow-y: scroll;
}

#profileSettings, #profileContent {
    background-color: blanchedalmond;
    border: 4px solid white;
    border-radius: 25px;
    box-shadow: inset 0 0 10px 1px rgba(158,42,76,0.32);
}

input:focus {
    outline: none;
}

#profileSettings ul {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    list-style: none;
    height: 100%;
}

#profileSettings ul li {
    text-align: center;
    height: 4rem;
    width: 80%;
    margin-bottom: 3rem;
    border-bottom: 4px solid white;
    border-radius: 8px;
    box-shadow: 0 15px 10px -15px #9E2A4C;

}

#profileSettings ul li a {
    font-size: 1.7rem;
    color: #9E2A4C;
    text-shadow: 0 0 11px rgba(158, 42, 76, 0.3);
}

.recipes {
    width: 90%;
    margin-left: 5%;
    margin-top: 4rem;
    padding-left: 2rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: inset 0 0 10px 1px rgba(158,42,76,0.32);
}
.spanTitle {
    font-size: 3.5rem;
    padding-top: 1rem;
    color: #9E2A4C;
}

.recipes .spanTitle {
    display: block;
    font-size: 3rem;
    padding-top: 0.5rem;
}

.recipes p {
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

#profileContent h2 , #profileContent {
    font-size: 2rem;
    padding-top: 1rem;
    margin-left: 4rem;
    color: #9E2A4C;
}
#profileContent {
    color: black;
}

.paraIngredient, .paraPreparation {
    font-size: 2rem;
    text-align: start;
    padding-left: 4rem;
}

.spanIngredient, .spanPreparation {
    font-size: 2rem;
    color: #FFBA52;
    font-weight: bold;
    text-decoration: underline;
}

#formAddRecipe {
    width: 80%;
    margin-left: 10%;
}

textarea, select {
    padding-left: 1.5rem;
    font-size: 2rem;
}
textarea {
    padding-top: 1rem;
}

#recipeContainer, #containerWhat, #containerDel {
    width: 100%;
    min-height: 52vh;
    height: fit-content;
    margin-top: 5rem;
    border-radius: 15px;
    background-color: blanchedalmond;
    text-align: center;
}

#containerWhat {
    margin-top: 4rem;
}

.buttonCategory {
    font-size: 2rem;
}

#searchbarRecipe form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#inputSearch, #buttonSearch {
    border: 2px solid #9E2A4C;
    padding: 1rem;
    margin-top: 4rem;
    background-color: white;
}

#inputSearch {
    width: 75%;
    font-size: 2rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#buttonSearch {
    width: 5%;
    font-size: 3rem;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: none;
}

.recipe {
    width: 80%;
    margin-left: 10%;
    margin-top: 4rem;
    height: fit-content;
    box-shadow: inset 0 0 10px 1px rgba(158,42,76,0.32);
    background-color: white;
    border-radius: 15px;
    padding-bottom: 2rem;
}

.subTitle {
    font-size: 3rem;
    display: block;
    text-align: start;
    padding-left: 3rem;
    padding-top: 2rem;
    color: #FFBA52;
    text-decoration: underline;
}

#category ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#category ul button {
    padding: 1rem;
    border-radius: 8px;
    border-color: #9E2A4C;
    box-shadow: inset 0 0 10px 1px rgba(158,42,76,0.32);
    background-color: white;
}

#presentationWhat, #presentationDel {
    width: 80%;
    margin-left: 10%;
    height: 20rem;
    border: 2px solid #9E2A4C;
    border-radius: 15px;
    background-color: white;
    font-size: 2rem;
    color: black;
    box-shadow: inset 0 0 10px 1px rgba(158,42,76,0.32);
}

#presentationWhat h2, #presentationDel h2 {
    padding-top: 1rem;
    font-size: 4rem;
    text-align: center;
    color: #9E2A4C;
}

#presentationWhat p, #presentationDel p {
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: black;
}

#presentationWhat p span {
    padding-top: 1rem;
    font-size: 2rem;
    font-style: italic;
    color: black;
}

#searchbarWhat {
    width: 100%;
    margin-left: 10%;
    font-size: 5rem;
}

#formWhat form {
    display: flex;
}

#formWhat form #buttonSearchWhat, #formWhat form #inputSearchWhat {
    padding: 1rem;
    margin-top: 4rem;
    background-color: white;
    border: 2px solid #9E2A4C;
}

#formWhat form #inputSearchWhat {
    width: 75%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 2rem;
}

#formWhat form #buttonSearchWhat {
    width: 5%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: none;
    font-size: 3rem;
}

#containerHomepage {
    width: 100%;
    height: fit-content;
    min-height: 70vh;
    background-color: ghostwhite;
}

#title {
    margin-top: 10rem;
    padding-top: 4rem;
    text-align: center;
    font-size: 6rem;
    color: #FFBA52;
    text-shadow: #474747 3px 5px 5px;
}

#content {
    width: 60%;
    margin-left: 20%;
    margin-top: 4rem;
    font-size: 3rem;
}

#content p {
    margin-top: 4rem;
    letter-spacing: 1px;
}
